html, body {
	width:100%;
	height:100%;
	overflow:hidden;
	margin:0px;
	padding:0px;
	position:relative;
	font-family:sans-serif;
}

::-webkit-scrollbar {
	display:none;
}

@media only screen and (min-width:1441px) {



}

@media only screen and (max-width:1440px) and (min-width:815px) {

	#editBar {
		position:absolute;
		z-index:10000;
		top:0px;
		left:0px;
		width:100vw;
		height:auto;
		background-color:#484848;
	}

	.e-bar {
		padding:1vh 2.15vw;
		font-size:2.25vh;
		background-color:transparent;
		color:#f8f8f8;
		float:left;
		text-transform:uppercase;
		border:4px solid #484848;
		outline:none;
		background-color:#484848;
	}

	.e-bar:hover {
		color:#484848;
		background-color:#f8f8f8;
		border:4px solid #f8f8f8;
	}

	#options {
		position:absolute;
		top:1.25vh;
		right:7vw;
		font-size:2vh;
		padding:0.5vh 1vw;
		border:none;
		text-transform:uppercase;
		background-color:#f8f8f8;
		border-radius:15px;
		outline:none;
		display:none;
	}

	#close {
		position:absolute;
		top:1.25vh;
		right:1vw;
		font-size:2vh;
		padding:0.5vh 1vw;
		border:none;
		text-transform:uppercase;
		background-color:#f8f8f8;
		border-radius:15px;
		outline:none;
		display:none;
	}

	/*Preview Screen*/
	#preview-edit {
		height:80vh;
		width:22em;
		background-color:#f8f8f8;
		position:absolute;
		z-index:10000000;
		left:-22em;
		bottom:0px;
		overflow:hidden;
		transition:all 0.75s ease;
	}

	.pre-buttons {
		width:22em;
		height:10vh;
		background-color:#DCDCDC;
		position:relative;
		box-shadow:inset 0 0 0 2px #DCDCDC;
	}

	.pre-buttons > h4 {
		text-transform:uppercase;
		position:absolute;
		margin-top:3.5vh;
		margin-left:2vh;
		color:#484848;
		cursor:default;
	}

	.pre-buttons:hover {
		background-color:#A0A0A0;
		box-shadow:inset 0 0 0 2px #A0A0A0;
	}

	/*Full Screen Editor*/
	#full-screen-edit {
		position:absolute;
		width:100vw;
		top:0px;
		left:-100vw;
		z-index:100000;
		overflow-y:hidden;
		overflow-x:scroll;
		transition:all 0.75s ease;
		background-color:#f8f8f8;
	}

	#full-s-sel {
		position:absolute;
		top:0px;
		left:0px;
		height:auto;
		width:100vw;
		z-index:1000000;
		overflow-y:hidden;
		overflow-x:scroll;
		transition:all 0.3s ease;
	}

	#full-in-s-sel {
		height:auto;
		width:100em;
	}

	.f-sel-button {
		padding-top:1vh;
		padding-bottom:1vh;
		background-color:#DCDCDC;
		outline:none;
		font-size:2vh;
		color:#484848;
		float:left;
		width:20em;
		text-align:center;
		text-transform:uppercase;
		font-weight:bold;
		border:4px solid #DCDCDC;
	}

	.f-sel-button:hover {
		border:4px solid #A0A0A0;
		background-color:#A0A0A0;
	}

	/*Landing Edit*/
	#landing-edit {
		width:100vw;
		height:100%;
		background-color:#f8f8f8;
		text-align:center;
		position:absolute;
		z-index:10000;
		top:0px;
		left:-100vw;
		transition:all 0.75s ease;
	}

	/*These are the landing edit options*/
	#landing-edit-one {
		overflow-y:scroll;
		width:45vw;
		height:85vh;
		position:absolute;
		left:2.5vw;
		bottom:2vh;
		transition:all 0.75s ease;
	}

	#landing-edit-two {
		overflow-y:scroll;
		width:45vw;
		height:85vh;
		position:absolute;
		right:2.5vw;
		bottom:2vh;
		transition:all 0.75s ease;
	}

	.edit-sections {
		width:40vw;
		height:3em;
		background-color:#f8f8f8;
		color:#484848;
		text-align:center;
		transition:all 0.75s ease;
		box-shadow:0 0 5px #484848;
		position:relative;
		margin-left:2.5vw;
		margin-top:4vh;
	}

	.edit-title-button {
		width:40vw;
		height:3em;
		background-color:#DCDCDC;
		text-align:left;
		overflow:hidden;
		position:absolute;
		top:0px;
		left:0px;
		transition:all 0.75s ease;
	}

	.edit-title {
		margin-top:2.25vh;
		margin-left:0.5em;
		text-transform:uppercase;
		cursor:default;
	}

	.open-button {
		width:1.5em;
		height:1.5em;
		box-shadow:0 0 0 1px #484848;
		position:absolute;
		top:0.75em;
		right:1em;
	}

	/*This is the background edit section*/
	#bg-edit {
		width:100vw;
		height:100%;
		background-color:#f8f8f8;
		position:absolute;
		z-index:1000000;
		top:0px;
		left:-100vw;
		overflow-x:hidden;
		overflow-y:scroll;
		transition:all 0.75s ease;
	}

	#in-bg {
		width:100%;
		min-height:100%;
	}

	#image-preview {
		width:95vw;
		height:3em;
		box-shadow:0 0 5px #484848;
		position:relative;
		margin-top:3vh;
		margin-left:2.5vw;
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center center;
		transition:all 0.75s ease;
	}

	#img-preveiw-title {
		width:95vw;
		height:3em;
		background-color:#DCDCDC;
		text-align:left;
		overflow:hidden;
		position:absolute;
		top:0px;
		left:0px;
		transition:all 0.75s ease;
	}

	#img-title {
		margin-top:2.25vh;
		margin-left:0.5em;
		text-transform:uppercase;
		cursor:default;
	}

	#first-bg-edit-opt {
		overflow-y:scroll;
		width:45vw;
		height:75vh;
		float:left;
	}

	#second-bg-edit-opt {
		overflow-y:scroll;
		width:45vw;
		height:75vh;
		float:right;
	}

	/*This is the event details edit*/
	#event-details-edit {
		width:100vw;
		height:100%;
		background-color:#f8f8f8;
		position:absolute;
		top:0px;
		left:-100vw;
		transition:all 0.75s ease;
	}

}