html, body {
	width:100%;
	height:100%;
	overflow:hidden;
	margin:0px;
	padding:0px;
	position:relative;
	font-family:sans-serif;
}

::-webkit-scrollbar {
	display:none;
}

@media only screen and (min-width:1441px) {



}

@media only screen and (max-width:1440px) and (min-width:769px) {

	#editBar {
		position:absolute;
		z-index:10000;
		top:0px;
		left:0px;
		width:100vw;
		height:auto;
		background-color:#484848;
	}

	.e-bar {
		padding:1vh 2.15vw;
		font-size:2.25vh;
		background-color:transparent;
		color:#f8f8f8;
		float:left;
		text-transform:uppercase;
		border:4px solid #484848;
		outline:none;
		background-color:#484848;
	}

	.e-bar:hover {
		color:#484848;
		background-color:#f8f8f8;
		border:4px solid #f8f8f8;
	}

	/*Full Screen Editor*/
	#full-screen-edit {
		position:absolute;
		width:100vw;
		top:0px;
		left:-100vw;
		z-index:100000;
		overflow-y:hidden;
		overflow-x:scroll;
		transition:all 0.75s ease;
		background-color:#f8f8f8;
	}

	#full-s-sel {
		position:absolute;
		top:0px;
		left:0px;
		height:auto;
		width:100vw;
		overflow:hidden;
		transition:all 0.3s ease;
	}

	#full-in-s-sel {
		height:auto;
		width:120em;
	}

	.f-sel-button {
		padding-top:1vh;
		padding-bottom:1vh;
		background-color:#DCDCDC;
		outline:none;
		font-size:2vh;
		color:#484848;
		float:left;
		width:20em;
		text-align:center;
		text-transform:uppercase;
		font-weight:bold;
		border:4px solid #DCDCDC;
	}

	.f-sel-button:hover {
		border:4px solid #A0A0A0;
		background-color:#A0A0A0;
	}

	/*Background Image Editor*/
	#bg-section {
		width:100vw;
		height:100%;
		position:absolute;
		z-index:10000;
		text-align:center;
		left:-100vw;
		overflow:hidden;
		transition:all 0.75s ease;
	}

	#editing-sections {
		width:100vw;
		height:100%;
		position:absolute;
		left:0px;
		top:0px;
		overflow-y:scroll;
		overflow-x:hidden;
	}

	#small-image {
		width:15em;
		height:8em;
		position:absolute;
		z-index:100000000;
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center center;
		right:2vw;
		top:3vh;
		box-shadow:0 0 15px #000;
		display:none;
	}

	#in-edit {
		width:100%;
		height:200vh;
		position:relative;
	}

	#bg-preview {
		width:95vw;
		height:82vh;
		background-repeat:no-repeat;
		background-position:center center;
		background-size:cover;
		margin-left:2.5vw;
		margin-top:3vh;
		box-shadow:inset 0 0 0 800px rgba(56,56,56,0.4);
	}

	#editing-area {
		width:100vw;
		height:100vh;
		position:absolute;
		bottom:0px;
		left:0px;
		overflow:hidden;
	}

	/*Background Image Editor Sections*/
	.editing-title {
		width:40vw;
		height:3em;
		background-color:#E0E0E0;
		overflow:hidden;
		text-align:left;
	}

	.ed-title {
		line-height:0px;
		margin-top:1.25em;
		margin-left:1em;
		text-transform:uppercase;
	}

	#first-edits {
		width:45vw;
		height:35em;
		position:absolute;
		top:9.75vh;
		left:2.5vw;
		overflow-x:hidden;
	}

	#background-image-count {
		width:40vw;
		height:10em;
		margin-left:2.5vw;
		float:left;
		transition:all 0.75s ease;
		box-shadow:0 0 5px #707070;
		margin-top:0.5em;
		overflow:hidden;
	}

	#background-image-animation {
		width:40vw;
		height:20em;
		margin-left:2.5vw;
		float:left;
		transition:all 0.75s ease;
		box-shadow:0 0 5px #707070;
		margin-top:2em;
		overflow:hidden;
	}

	#second-edits {
		width:45vw;
		height:50em;
		position:absolute;
		top:9.75vh;
		right:2.5vw;
		overflow-x:hidden;
	}

	#background-image-sel {
		width:40vw;
		height:20em;
		margin-left:2.5vw;
		float:left;
		margin-top:0.5em;
		transition:all 0.75s ease;
		box-shadow:0 0 5px #707070;
		overflow:hidden;
	}

	#background-image-shadow {
		width:40vw;
		height:12em;
		overflow:hidden;
		margin-left:2.5vw;
		float:left;
		margin-top:2em;
		transition:all 0.75s ease;
		box-shadow:0 0 5px #707070;
	}

}