::-webkit-scrollbar {
	display:none;
}

html, body {
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	position:relative;
	font-family:sans-serif;
	overflow:hidden;
}

@media only screen and (max-width:1440px) and (min-width:769px) {

	/*----
		Edit Styles
				----*/

}