::-webkit-scrollbar {
	display:none;
}

html, body {
	width:100%;
	height:100%;
	overflow:hidden;
	margin:0px;
	padding:0px;
	position:relative;
	font-family:sans-serif;
}

@media only screen and (min-width:769px) {

	/*----
		Background Images
						----*/
	#background-images {
		width:100vw;
		height:100vh;
		overflow:hidden;
		transition:all 0.75s ease;
	}

	#bg-in-overflow {
		width:100vw;
		height:100vh;
		transition:all 0.75s ease;
	}

	.bg-imgs {
		width:100vw;
		height:100vh;
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center center;
	}

	.bg-imgs:first-child {
		background-image:url("../img/home/laptop/hotel_1.jpg");
	}

	/*----
		Body Box
				----*/
	#body-box {
		width:60vw;
		height:auto;
		box-shadow:0 0 5px #707070;
		position:absolute;
		z-index:10000;
		left:20%;
		overflow:hidden;
	}

	#in-body {
		width:100%;
		height:100%;
		width:120vw;
	}

	#body-part-one {
		width:60vw;
		height:auto;
		padding-top:6vh;
		padding-bottom:6vh;
		background-color:rgba(48,48,48,0.6);
		float:left;
	}

	#body-part-two {
		width:60vw;
		height:auto;
		padding-top:6vh;
		padding-bottom:6vh;
		background-color:rgba(112,122,122,0.6);
		float:left;
	}

	/*----
		Editor Area
					----*/
	#editor-area {
		width:22em;
		height:100vh;
		background-color:#f8f8f8;
		position:absolute;
		z-index:10000000;
		top:0px;
		left:0px;
		overflow-y:scroll;
		overflow-x:hidden;
		transition:all 0.75s ease;
	}

	#in-edit-area {
		width:22em;
		height:199.98vh;
		background-color:#f8f8f8;
		position:relative;
		transition:all 0.75s ease;
	}

	.edit-opt {
		width:22em;
		height:33.33vh;
		box-shadow:inset 0 0 0 2px #c0c0c0;
		display:block;
	}

}

